body{
    font-family: monospace;
    background-color: #f0f0f0;
    margin: 0px;
    overflow: hidden;

}

#info{
    position: absolute;
    top: 0px;
    width: 100%;
    font-family: monospace;
    font-size: 13px;
    text-align: center;
}